<?xml version="1.0" encoding="UTF-8"?>     
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- DEBUG < INFO < WARN < ERROR < FATAL -->
<!-- Hibernate log setting: http://docs.jboss.org/hibernate/core/3.3/reference/en/html/session-configuration.html#configuration-logging -->

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="sysout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%t %d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c:%L - %m%n" />
		</layout>
	</appender>

	<appender name="hiberante_example_error" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/hiberante_example_error.log" />
		<param name="threshold" value="error" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%t %d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c:%L - %m%n" />
		</layout>
	</appender>

	<appender name="hiberante_example_info" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/hiberante_example_info.log" />
		<param name="threshold" value="debug" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%t %d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c:%L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="info" />
			<param name="levelMax" value="warn" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="hiberante_example_trace" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/hiberante_example_trace.log" />
		<param name="threshold" value="trace" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				   value="%t %d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c:%L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="trace" />
			<param name="levelMax" value="trace" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="hiberante_example_party_debug" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/hiberante_example_thrid_party_debug.log" />
		<param name="threshold" value="debug" />
		<param name="MaxFileSize" value="10MB"/>
		<param name="MaxBackupIndex" value="30"/>
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%t %d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c:%L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="debug" />
			<param name="levelMax" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<logger name="org.commmstudy.hibernate" additivity="false">
		<level value="debug" />
		<appender-ref ref="hiberante_example_error" />
		<appender-ref ref="hiberante_example_info" />
		<appender-ref ref="sysout" />
	</logger>
	


	<root>
		<level value="debug" />
		<appender-ref ref="hiberante_example_party_debug" />
	</root>
</log4j:configuration>