<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hilatest.androidexample"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" />

	<instrumentation
        android:targetPackage="com.hilatest.androidexample"
        android:name="android.test.InstrumentationTestRunner" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
	<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
   		
   		<uses-library android:name="android.test.runner" />
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
           	<!-- Receives the search request. -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
			<meta-data android:name="android.app.searchable"
		       		android:resource="@xml/searchable" />
        </activity>

		<activity android:name=".activity.CommonActivity"
                  android:label="commonActivity">
                  <intent-filter>
                  		<action android:name="com.hilastest.intentView"/>
                  		<category android:name="android.intent.category.ALTERNATIVE"/>
                  		<category android:name="android.intent.category.DEFAULT" />
                  		<data android:scheme="hilatest" android:host="www.hilatest.com"/>
                  </intent-filter>
        </activity>
        
        <activity android:name=".activity.SpecialActivity"
                  android:label="SpecialActivity">  
                  <intent-filter>
                  		<action android:name="com.hilastest.intentView"/>
                  		<category android:name="android.intent.category.ALTERNATIVE"/>
                  		<category android:name="android.intent.category.DEFAULT" />
                  		<data android:scheme="hilatest" android:host="www.hilatest.com" android:path="/1"/>
                  </intent-filter>
        </activity>
        
        <!-- aidl begin -->
        <activity android:name=".aidl.AidlActivity"
                  android:label="aidl">  
                  <intent-filter>
                  		<category android:name="android.intent.category.ALTERNATIVE"/>
                  		<category android:name="android.intent.category.DEFAULT" />
                  </intent-filter>
        </activity>
        
        <service android:name=".aidl.AidlServer" android:exported="true">
		   <intent-filter>
		       <action android:name="com.hilatest.androideexample.aidlServer"/>
		    </intent-filter> 
		</service>
		<!-- aidl end -->
		
        <activity android:name=".activity.DrawableMutationActivity"
                  android:label="DrawableMutationActivity">  
                  <intent-filter>
                  		<category android:name="android.intent.category.DrawableMutation"/>
                  		<category android:name="android.intent.category.DEFAULT" />
                  </intent-filter>
        </activity>
        
        <!-- Gestures begin -->
         <activity android:name=".activity.GesturesActivity"
                  android:label="GesturesActivity">  
                  <intent-filter>
                  		<category android:name="android.intent.category.GesturesActivity"/>
                  		<category android:name="android.intent.category.DEFAULT" />
                  </intent-filter>
        </activity>
        
         <activity android:name=".activity.AddGesturesActivity"
                  android:label="AddGestures"> 
        </activity>
         <!-- Gestures end -->
         
        <!-- Live Folder begin -->
        <activity
		    android:name=".activity.LiveFolderActivity"
		    android:label="LiveFolder"
		    android:icon="@drawable/icon_android">
		    <intent-filter>     
		        <action android:name="android.intent.action.CREATE_LIVE_FOLDER" />        
		        <category android:name="android.intent.category.DEFAULT" />	        
		    </intent-filter>
		</activity>

        <activity
		    android:name=".activity.LiveFolderActivity"
		    android:label="LiveFolder">
		    <intent-filter >
		    	<action android:name="android.intent.action.VIEW"/>
		    	<category android:name="android.intent.category.DEFAULT" />
		    	<data android:scheme="hilatest" android:host="www.hilatest.com"/>
		    </intent-filter>
		</activity>
		
		<provider android:name=".provider.LiveFolderProvider"
				  android:authorities="hialtestLiveFolder"
		/>
		 <!-- Live Folder end -->
		 
		 <!-- Async Task Demo -->
     	<activity
		    android:name=".activity.AsyncTaskActivity"
		    android:label="asyncTask">
		</activity>
		<!-- Async Task Demo -->
		
		 <!-- Search Demo -->
		 
		<activity android:name=".activity.SearchDemoActivity"
                android:label="serach demo"
              >

            <!-- Receives the search request. -->
            <intent-filter>
                <action android:name="com.hilatest.SearchResult" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        
        <provider android:name=".provider.SearchableProvider"
                android:authorities="hilatestsearchDemo"
                android:syncable="false" />
		 <!-- Search End -->
    </application>
    
</manifest>