<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean name="springSechedulerFactory"
		  class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	</bean>
	
		
	<bean id="SimpleJobTrigger"
		class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail" ref="MethodInvokingJobDetail" />
        <property name="repeatInterval" value="2000" />
	</bean>

	
    <bean name="SpringJobDetail" 	class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="org.commmstudy.quartz.job.SpringNormalJob" />
		<property name="jobDataMap">
			<map>
				<entry key="value1" value="value1" />
				<entry key="value2" value="value2" />
			</map>
		</property>
		<property name="durability" value="true" />
	</bean>
	
	
	<bean id="MethodInvokingJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="myJob" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>


	<bean id="myJob" class="org.commmstudy.quartz.job.SpringPOJOJob" />

</beans>
